:root{
    --accent1: #dcedc2;
    --background: #ffd3b5;
    --accent2: #ffaaa6;
    --contrast: #ff8c94;
}

*{
    font-family: serif;
    font-size: 20px;
    width: 100vw;
    overflow-x: hidden;
}

nav{
    height: 40px;
    width: 100vw;
    position: absolute;
    z-index: 1;
    background-color: var(--accent1);
    overflow: hidden;
    left: 0;
    top: 0;
    padding: 20px;
}

nav a{
    float: right;
    font-size: 24px;
}

body{
    background-color: var(--background);
}

main{
    margin-top: 80px;
}
h1{
    font-variant: small-caps;
    font-size: 56px;
    padding: auto;
    text-align: center;
}


header{
    width: 100%;
    height: 100px;
    background-color: var(--accent2);
    padding: 0;
}

#recipe-nav{
    font-variant: small-caps;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 0;
    list-style: none;
    row-gap: 2vw;

}

#recipe-nav li{
    width: 30%;
    align: center;
    text-align: center;
    border: 2px solid var(--accent1);
    background-color: var(--accent1);
    padding-top: 4px;
    padding-bottom: 2px;
    color: black;
    border-radius: 8px;
}

#recipe-nav a:active, a:visited{
    color: brown;
}

#recipe-nav a:hover{
    color: white;
}


#recipe-nav li img{
    width: 90%;
    height: auto;
    padding-top: 2px;
    margin-bottom: 3%;
    box-shadow: 4px 4px 4px var(--contrast);
}

.recipe-image{
    display: flex;
    justify-content: center;
}

h3{
    font-size: 28px;
    font-variant: small-caps;
    text-align: center;
    border: 2px solid var(--contrast);
    border-radius: 15%;
    background-color: var(--contrast)
}

p{
    text-align: center;
}